@font-face {
	font-family: DiscotecaFixed;
	src: url(fonts/DiscotecaFixed.ttf);
}

.show {
	display: block;
}

.hidden {
	display: none;
}

.invisible.entrants {
	opacity: 0;
	margin-left: 30px;
}

.entrants {
	color: white;
	font-family: DiscotecaFixed;
	font-size: 20px;
	text-shadow: -1px 1px black, 1px 1px black, 1px -1px black, -1px -1px black;
	transition: opacity .5s, margin-left 1s;
}
