@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

a {
	color: white;
	transition: color 0.15s;
}

a:hover {
	color: #000033;
	text-decoration: none;
}

body {
	background-image: linear-gradient(to right, #00624B, #19A27B);
	font-family: Inconsolata, monospace;
	font-size: 18px;
	margin: 0;
}

footer {
	background-image: linear-gradient(to top, #353535 90%, black);
	bottom: 0;
	color: #c4c4c4;
	font-size: 14px;
	height: 40px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 0;
}

h1 {
	color: #000033;
	margin-bottom: 50px;
	text-align: center;
}

h2 {
	color: #000033;
	text-align: center;
}

li {
	color: #ddddee;
	font-size: 20px;
	list-style: none;
	padding: 15px;
}

main {
	margin: 0 250px;
	transition: background-color 0.3s;
	width: 100%;
}

nav {
	background-color: #353535;
	border-right: 2px solid rgba(0,0,0,0.75);
	height: 100%;
	position: fixed;
	text-align: right;
	transition: border-right 0.3s, width 0.3s;
	transition-timing-function: ease-out;
	width: 30px;
}

nav:hover {
	background-image: linear-gradient(to right, #353535 98.5%, black);
	border-right: none;
	width: 300px;
}

nav:hover .menuitem {
	animation-delay: 0.2s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-name: fadein;
	display: block;
	opacity: 0;
}

nav:hover + #buffer {
	width: 300px;
}

nav:hover #current {
	animation-delay: 0.2s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-name: fadein;
	display: block;
	opacity: 0;
}

p {
	text-align: center;
}

ul {
	margin: 0;
}

.box {
	background-image: linear-gradient(to bottom right, #19A27B, #00624B);
	border: 10px outset #353535;
	border-radius: 20px;
	height: 100%;
	margin: auto;
	overflow: auto;
	padding: 5px;
	width: 30%;
}

.flexbox {
	display: flex;
}

.floatleft {
	float: left;
	margin-right: 20px;
}

.floatright {
	float: right;
	margin-left: 20px;
}

.menuitem {
	background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5));
	background-repeat: no-repeat;
	background-size: 100% 0;
	background-position: center;
	display: none;
	text-decoration: none;
	transition: background-size 0.2s, color 0.3s, transform 0.1s;
}

.menuitem:hover {
	background-size: 100% 100%;
	color: #000033;
	transform: translate(0, 2px);
}

#arrow {
	font-size: 30px;
	margin-bottom: 0;
}

#avatar {
	border-radius: 50%;
	height: 75px;
	transition: border-radius 0.3s;
}

#avatar:hover {
	border-radius: 25%;
}

#buffer {
	background-color: #353535;
	bottom: 0;
	height: 40px;
	position: fixed;
	transition: width 0.3s;
	transition-timing-function: ease-out;
	width: 30px;
	z-index: 1;
}

#current {
	display: none;
	font-size: 25px;
	font-style: italic;
}

#opening {
	font-weight: bold;
	margin-bottom: 50px;
}

#twitch {
	height: 75px;
}
